body
{
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

.logo-title {
  display: inline-block;
  margin-top: 2vh;
  top: 2vh;
  margin-left: 50px;
  z-index: 100;
  overflow: none;
  position: relative;
  text-align: center;
}

.logo-title a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  line-height: 0px;
}

.logo-title a:hover {
  text-decoration: none;
  color: white;
}

.navigation {
  height: 138px;
}

#menuToggle
{
  margin-top: 10px;
  float: right;
  display: inline-block;
  position: relative;
  margin-top: 2vh;
  top: 3vh;
  left: 5vh;
  height: 138px;
  overflow: none;
  width: 15vh;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease-in-out;
}

#menuToggle a:hover
{
  color: rgb(175, 175, 175);
}


#menuToggle input
{
  overflow: hidden;
  margin-right: 150px;
  float: right;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 10px;
  position: relative;
  margin-right: 150px;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(5px, 3px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 3px);
}

#menu
{
  overflow: hidden;
  position: absolute;
  display: inline;
  width: 1200px;
  margin: -166px 0 0 -1200px;
  padding: 50px;
  background: transparent;
  padding-top: 125px;
  visibility: hidden;
  opacity: 0;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(10%, 0);
  transition: visibility 0s, opacity 0s linear;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  display: inline-block;
  margin-right: 50px;
  float: right;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

#menuToggle ul {
  transition: all .55s ease-in-out;
}

#menuToggle input:checked ~ ul
{
  visibility: visible;
  opacity: 1;
  transform: translate(0%, 0);
  transition: all .55s ease-in;
}

#menu .ig {
  margin-left: -40px;
}

.wrapper .spacer {
  top: 0px;
  height: 100vh;
  width: 100%;
  float: left;
  display: block;
  object-fit: cover;
  opacity: 0;
  margin-top: -158px;
}

.wrapper .container-fluid img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5;
  margin-left: -15px;
  padding: 0px;
}

.main-title h1 {
  margin-top: 30vh;
  position: relative;
  font-size: calc(20px + 4vw);
  letter-spacing: 8px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1;
}

.main-title h2 {
  font-weight: 200;
  font-size: calc(15px + 2vw);
  text-transform: uppercase;
  margin-top: 0px;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 30px;
  opacity: 1;
}

.hero-border {
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 80%;
  left: 5%;
  right: 5%;
  margin-top: 8%;
  bottom: 6%;
  overflow: hidden;
}

.headline {
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
}

.headline-title {
  color: black;
  text-transform: uppercase;
  margin-top: 40px;
}

.headline-title h2 {
  margin: 5px;
}

.container .headline {
  margin: auto;
  padding: 30px 55px;
  max-width: 1020px;
}

.headline p {
  padding-top: 15px;
  color: black;
  font-size: 18px;
  line-height: 2rem;
  letter-spacing: 1px;
  max-width: 1000px;
  margin-bottom: 30px;
  font-weight: 200;
}

.body .container-fluid {
  padding: 0px;
}

.all-buildings {
  background-color: black;
  background-size: 105%;
  margin: 0;
  padding: 0;
}

.building {
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.body .container {
  width: 100%;
  padding: 0px;
}

.body img {
  height: 703px;
  object-fit: cover;
  width: 100%;
  display: block;
  text-align: center;
}

.body .building-info {
  color: rgb(168, 168, 168);
  font-size: 11px;
}

.body .neighbourhood {
  font-size: 11px;
}

.body .listing {
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,0,.8);
  color: white;
  width: 101%;
  height: 115px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  align-self: center;
  vertical-align: middle;
  transition: all .25s ease-in-out;
  display: table;
}

.body .listing > .address-list {
display: table-cell;
vertical-align: middle;
text-align: center;
}

.body .dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: 3px;
  margin: 0px 10px;
}

.body .img-wrapper {
  transition: all .25s ease-in-out;
}

.list-wrapper .coming-soon:hover > p {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.list-wrapper .coming-soon:hover > .img-wrapper {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.list-wrapper:hover > .img-wrapper {
  transform: scale(1.1);
}

.list-wrapper:hover > .listing {
  transform: scale(1.1);
}

.footer {
  text-align: center;
  background: rgb(25, 25, 25);
  padding: 75px 0px;
  font-size: 20px;
  font-family: monospace;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: white;
}

.footer-nav {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 50px 0px;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 200;
}

.footer-nav a:hover {
  text-decoration: none;
  color: white;
}

.footer-nav .dot {
  height: 3px;
  width: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  vertical-align: 2px;
  margin: 0px 5px;
}
