body
{
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.navigation {
  height: 138px;
  position: absolute;
  z-index: 10;
  background-color: black;
  float: right;
}

#menuToggle
{
  /* background-color: black;
  margin-top: -196px;
  float: right;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;
  height: 138px;
  overflow: none;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none; */
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  margin-right: 150px;
  float: right;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 10px;
  position: relative;
  margin-right: 150px;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(5px, 3px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 3px);
}

#menu
{
  position: absolute;
  display: inline;
  width: 1200px;
  margin: -166px 0 0 -1200px;
  padding: 50px;
  background: transparent;
  padding-top: 125px;
  visibility: hidden;
  opacity: 0;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(10%, 0);
  transition: visibility 0s, opacity 0s linear;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  display: inline-block;
  margin-right: 50px;
  float: right;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

#menuToggle input:checked ~ ul
{
  visibility: visible;
  opacity: 1;
  transform: translate(0%, 0);
  transition: all .3s ease-in;
}

#menu .ig {
  margin-left: -40px;
}



.testing {
  position: fixed;
  top: 0;
}

video {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: -5;
  height: 100vh;
}

.main-title h1 {
  position: relative;
  font-size: 5vw;
  letter-spacing: 8px;
  color: white;
  font-weight: 400;
  margin-top: 4em;
}

.main-title h2 {
  font-weight: 200;
  font-size: 2.5vw;
  text-transform: uppercase;
  color: white;
  font-weight: inherit;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.hero-border {
  color: white;
  border-style: solid;
  opacity: 0.43;
  border-width: 1px;
  position: absolute;
  z-index: -1;
  width: 94%;
  height: 90%;
  left: 3%;
  margin-top: 50px;
}
.main-title a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 6;
}
.main-title a:hover {
  font-weight: 550;
  text-decoration: none;
  color: white;
}

.main-title li {
  display: inline;
  z-index: 6;
}

.main-title .dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: 3px;
  margin: 0px 20px;
}

.projects a:hover {
  color: white;
  text-decoration: none;
}

.projects {

  text-transform: uppercase;
  font-size: 11px;
  position: relative;
}

@media (max-height:650px) {
  .projects { 
    display: none;
  }
}

.projects a {
  color: white;
}

.projects i {
  padding-top: 30px;
  color: white;
  width: 159px;
  font-size: 15px;
  bottom: 0px;
}


.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-8px);
  }
}

.headline {
  display: block;
}

.headline-title {
  color: black;
  text-transform: uppercase;
}

.headline-title h2 {
  margin: 5px;
}

.headline .container {
  margin: auto;
  padding: 30px 55px;
  max-width: 1020px;
}

.headline p {
  padding-top: 15px;
  color: black;
  font-size: 15px;
  line-height: 1.75rem;
  letter-spacing: 0.5px;
}

.portfolio h3 {
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 15px;
  margin-bottom: 25px;
}

.port-nav li {
  display: inline;
  font-size: 14px;
  color: black;
  letter-spacing: 1px;
}

.port-nav ul a {
  margin: 0px 28px;
  display: inline-block;
  text-decoration: none;
}

.port-nav a {
  
}

.port-nav .all {
  border-bottom: rgb(116, 116, 116);
  border-bottom-style: solid;
  padding-bottom: 5px;
  border-bottom-width: 2px;
  font-weight: 700;
}

.building {
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.portfolio-buildings img {
  height: 703px;
  object-fit: cover;
  width: 100%;
  display: block;
  text-align: center;
}

.portfolio-buildings .full-address {
  color: rgb(168, 168, 168);
  font-size: 11px;
}

.portfolio-buildings .neighbourhood {
  font-size: 11px;
}

.portfolio-buildings .listing {
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,0,.8);
  color: white;
  width: 101%;
  height: 115px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  align-self: center;
  vertical-align: middle;
  transition: all .25s ease-in-out;
  display: table;
}

.portfolio-buildings .listing > .address-list {
display: table-cell;
vertical-align: middle;
text-align: center;
}

.portfolio-buildings .dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: 3px;
  margin: 0px 10px;
}

.portfolio-buildings .img-wrapper {
  transition: all .25s ease-in-out;
}

.coming-soon {
  opacity: 1;
  background-color: black;
  cursor: default;
}

.coming-soon p {
  color: white;
  top: 38%;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 40px;
  opacity: 0;
  text-transform: uppercase;
}

.list-wrapper .coming-soon:hover > p {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.list-wrapper .coming-soon:hover > .img-wrapper {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.list-wrapper:hover > .img-wrapper {
  transform: scale(1.1);
}

.list-wrapper:hover > .listing {
  transform: scale(1.1);
}

.residence-placeholder {
  height: 703;
  background-color: rgb(255, 253, 234);

  display: block;
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.quote p {
  padding-top: 15px;
  color: black;
  font-size: 15px;
  line-height: 1.75rem;
  margin: auto;
  max-width: 1050px;
  padding: 30px 55px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.4em;
  font-weight: 330;
}

.quote cite {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.testimonials {
  text-align: center;
}

.testimonials button {
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(25, 25, 25);
  border-style: solid;
  border-color: rgb(25, 25, 25);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
}

.testimonials button:hover {
  color: white;
  background-color: rgb(25, 25, 25);
  transition: all .25s ease-in-out;
}

.footer {
  text-align: center;
  margin-top: 50px;
  background: rgb(25, 25, 25);
  padding: 75px 0px;
  font-size: 20px;
  font-family: monospace;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: white;
}

.footer-nav {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 50px 0px;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 200;
}

.footer-nav a:hover {
  text-decoration: none;
  color: white;
}

.footer-nav .dot {
  height: 3px;
  width: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  vertical-align: 2px;
  margin: 0px 5px;
}
